@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
input {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.conteiner {
  max-width: 1440px;
  min-width: 290px;
  margin: 0 auto;
  padding: 0 0.625rem;
  overflow: visible;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #0c0c0e;
  text-align: center;
  font-weight: 700;
  font-size: 0.625rem;
  text-transform: capitalize;
  letter-spacing: 0.0625rem;
  background: white;
  padding: 0.5625rem 1.6875rem;
  outline: none;
  border-radius: 0.125rem;
  border: 0.0625rem solid #0c0c0e;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background: #bb945f;
  border: 0.0625rem solid #bb945f;
}
.section-title {
  position: relative;
  text-align: center;
  padding-bottom: 1.25rem;
  color: #0c0c0e;
  font-family: "Forum", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.section-title::before {
  content: "";
  position: absolute;
  background: #0c0c0e;
  width: 3.125rem;
  height: 0.0625rem;
  top: 3.6875rem;
  left: 50%;
  transform: translate(-50%);
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  background: #0c0c0e;
  padding: 1.25rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}
.header__logo {
  color: #ffffff;
  font-family: "Forum", cursive;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
  white-space: nowrap;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  padding-right: 2.5rem;
}
.header__link {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3.125rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.header__link:hover {
  color: #bb945f;
}
.header__profil {
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: black;
}
