@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
input {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.conteiner {
  max-width: 1440px;
  min-width: 290px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #0c0c0e;
  text-align: center;
  font-weight: 700;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  background: white;
  padding: 0.5625rem 1.6875rem;
  outline: none;
  border-radius: 0.125rem;
  border: 0.0625rem solid #0c0c0e;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background: #bb945f;
  border: 0.0625rem solid #bb945f;
}
.btn:first-letter {
  text-transform: uppercase;
}
.own {
  color: #bb945f;
  text-align: center;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  background: white;
  padding: 0.5625rem 1.6875rem;
  outline: none;
  border-radius: 0.125rem;
  border: 0.0625rem solid #bb945f;
  text-transform: capitalize;
}
.section-title {
  position: relative;
  text-align: center;
  padding-bottom: 1.25rem;
  color: #0c0c0e;
  font-family: "Forum", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.section-title::before {
  content: "";
  position: absolute;
  background: #0c0c0e;
  width: 3.125rem;
  height: 0.0625rem;
  top: 3.6875rem;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 420px) {
  .section-title {
    font-size: 1.5625rem;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  background: #0c0c0e;
  padding: 1.25rem;
  position: relative;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}
@media (max-width: 495px) {
  .header__inner {
    flex-direction: column;
    gap: 0.625rem;
  }
}
.header__logo {
  color: #ffffff;
  font-family: "Forum", cursive;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
  white-space: nowrap;
}
@media (max-width: 495px) {
  .header__logo {
    font-size: 1.5625rem;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  position: relative;
  display: none;
  background-color: transparent;
  border: none;
  padding: 0.625rem 0;
  height: 0.125rem;
  width: 2.8125rem;
  z-index: 3;
  cursor: pointer;
}
.header__burger--active .header__burger-item {
  height: 0.125rem;
  width: 0rem;
  background: transparent;
}
.header__burger--active .header__burger-item:before,
.header__burger--active .header__burger-item:after {
  transform: rotate(45deg);
  top: 50%;
}
.header__burger--active .header__burger-item:after {
  transform: rotate(-45deg);
}
.header__burger--active .header__list {
  right: 0;
}
@media (max-width: 1040px) {
  .header__burger {
    display: block;
  }
}
.header__burger-item {
  display: block;
  background: #ffffff;
  height: 0.125rem;
  width: 2.8125rem;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}
.header__burger-item::before,
.header__burger-item::after {
  transition: all 0.2s;
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 2.8125rem;
  background-color: #ffffff;
  top: 1.25rem;
  left: 0;
}
.header__burger-item:after {
  top: 0rem;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.9rem;
}
@media (max-width: 1040px) {
  .header__list {
    flex-direction: column;
    gap: 1.875rem;
    position: absolute;
    top: 0;
    right: -33.25rem;
    min-width: 20.75rem;
    min-height: 35.625rem;
    padding: 6.25rem 1.25rem;
    text-align: center;
    background: #0c0c0e;
    z-index: 2;
    transition: right 0.3s ease-in-out;
  }
}
.header__list--active {
  right: 0;
}
@media (max-width: 495px) {
  .header__list {
    min-width: 100%;
    padding: 9.375rem 0rem 6.25rem;
  }
}
.header__link {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3.125rem;
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.header__link:hover {
  color: #bb945f;
}
@media (max-width: 1040px) {
  .header__link {
    padding: 0 3.125rem;
  }
}
.header__profil {
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
@media (max-width: 1040px) {
  .header__profil {
    order: -1;
  }
}
.header__icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: black;
}

.welcome {
  position: relative;
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 100%
  );
  height: 37.5rem;
}
.welcome__bg {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.welcome__inner {
  background: #0c0c0e;
  min-width: 37.5rem;
  padding: 2.1875rem 2.5rem;
  position: absolute;
  top: 13.75rem;
}
@media (max-width: 600px) {
  .welcome__inner {
    min-width: 18.125rem;
    padding: 1.875rem 1.875rem;
  }
}
.welcome__title {
  color: #fff;
  text-align: center;
  font-family: "Forum", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}
@media (max-width: 444px) {
  .welcome__title {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
.about {
  padding: 1.25rem 1.25rem 2.5rem;
}
.about__title {
  padding-bottom: 3.75rem;
}
.about__text {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding-bottom: 1.25rem;
  text-align: center;
}
.about__slider {
  position: relative;
}
.about__slider-overflow {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
@media (max-width: 1439px) {
  .about__slider-overflow {
    margin: 0 auto;
    max-width: 57.8125rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 1270px) {
  .about__slider-overflow {
    max-width: 57.8125rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 1000px) {
  .about__slider-overflow {
    max-width: 28.125rem;
    margin-bottom: 1.25rem;
  }
}
.about__slider-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 35rem;
  max-width: 87.5rem;
  gap: 1.5625rem;
  transition: all 0.3s;
}
.about__item {
  flex: 0 0 28.125rem;
  position: relative;
  height: 100%;
}
@media (max-width: 1439px) {
  .about__item {
    flex: 0 0 28.125rem;
  }
}
@media (max-width: 1270px) {
  .about__item {
    flex: 0 0 28.125rem;
  }
}
.about__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: #8e8e8e;
}
.about__inner {
  margin: 0 auto;
  max-width: 5rem;
  overflow: hidden;
}
@media (max-width: 1439px) {
  .about__inner {
    max-width: 6.25rem;
  }
}
@media (max-width: 1000px) {
  .about__inner {
    max-width: 7.875rem;
  }
}
.about__arrow-right,
.about__arrow-left {
  position: absolute;
  width: 2.5rem;
  height: 2.6875rem;
  top: 49.8%;
  right: 3.875rem;
  padding: 1.5625rem;
  background: transparent;
  cursor: pointer;
  transform: translateY(-50%);
  display: none;
}
.about__arrow-right:active,
.about__arrow-left:active {
  fill: #bb945f;
}
@media (max-width: 1000px) {
  .about__arrow-right,
  .about__arrow-left {
    max-width: 7.875rem;
    display: block;
  }
}
@media (max-width: 715px) {
  .about__arrow-right,
  .about__arrow-left {
    right: 1.25rem;
  }
}
@media (max-width: 630px) {
  .about__arrow-right,
  .about__arrow-left {
    right: 0rem;
  }
}
@media (max-width: 590px) {
  .about__arrow-right,
  .about__arrow-left {
    display: none;
  }
}
.about__arrow-left {
  fill: #8e8e8e;
  cursor: auto;
  left: 3.75rem;
}
@media (max-width: 715px) {
  .about__arrow-left {
    left: 1.25rem;
  }
}
@media (max-width: 630px) {
  .about__arrow-left {
    left: 0rem;
  }
}
@media (max-width: 590px) {
  .about__arrow-left {
    display: none;
  }
}
.about__arrow-svg {
  width: 0.78125rem;
  height: 1.40625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__points {
  display: flex;
  justify-content: flex;
  align-items: center;
}
.about__point {
  padding: 0.3125rem;
  cursor: pointer;
}
.about__point:hover .about__point-span {
  background: #8e8e8e;
}
.about__point-span {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #0c0c0e;
}
.about__point-active {
  background: #bb945f;
}

.favorites {
  padding: 0.9rem 1.25rem 2.8125rem;
}
@media (max-width: 1040px) {
  .favorites {
    padding: 1rem 1.25rem 2.8125rem;
  }
}
.favorites__title {
  margin-bottom: 2.6875rem;
}
.favorites__season {
  margin-bottom: 2.1875rem;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 700;
}
.favorites__sort {
  display: flex;
  margin-bottom: 2.25rem;
  gap: 3.3125rem;
}
@media (max-width: 768px) {
  .favorites__sort {
    margin-bottom: 2rem;
    gap: 3.3125rem;
  }
}
@media (max-width: 766px) {
  .favorites__sort {
    flex-wrap: wrap;
    gap: 0.625rem;
  }
}
.favorites__radio {
  height: 0;
  width: 0;
  opacity: 0;
}
.favorites__radio:checked + .favorites__castom-radio::before {
  width: 9px;
  height: 9px;
}
.favorites__radio:checked ~ .favorites__label-text {
  font-weight: 700;
  letter-spacing: 1px;
}
.favorites__label-text {
  transition: all 0.3s;
  width: 6.25rem;
}
.favorites__castom-radio {
  position: relative;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000000;
  margin-right: 1.25rem;
}
.favorites__castom-radio:before {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  background: #000000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}
.favorites__label {
  text-transform: capitalize;
  color: #000000;
  padding: 0.3125rem 0.3125rem 0.3125rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.favorites__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-right: 2.5rem;
}
@media (max-width: 1040px) {
  .favorites__inner {
    justify-content: center;
  }
}
@media (max-width: 590px) {
  .favorites__inner {
    padding-right: 0rem;
  }
}
.favorites__item {
  width: 34.375rem;
  min-height: 34.6875rem;
  border: 1px solid #0c0c0e;
  position: relative;
  padding: 0.9rem 10.9375rem 3.75rem 1rem;
}
@media (max-width: 768px) {
  .favorites__item {
    padding: 0.8125rem 10rem 3.75rem 1.25rem;
  }
}
@media (max-width: 590px) {
  .favorites__item {
    padding: 0.625rem 0.9375rem 3.75rem 0.9375rem;
  }
}
.favorites__subtitle {
  position: relative;
  text-transform: capitalize;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.21rem;
  margin-bottom: 1.25rem;
  font-family: "Forum", cursive;
}
.favorites__subtitle::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 3.75rem;
  height: 1px;
  background: #bb945f;
}
@media (max-width: 768px) {
  .favorites__subtitle {
    letter-spacing: 0.16rem;
  }
}
@media (max-width: 590px) {
  .favorites__subtitle {
    margin-bottom: 21.875rem;
  }
}
.favorites__booktitle {
  text-transform: uppercase;
  color: #0c0c0e;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
.favorites__autor {
  text-transform: capitalize;
  color: #0c0c0e;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
}
.favorites__text {
  color: #0c0c0e;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 0.125rem;
}
.favorites__button {
  position: absolute;
  left: 1.25rem;
  bottom: 0.9375rem;
}
.favorites__img-box {
  position: absolute;
  bottom: -1px;
  right: -2.5rem;
  height: 18.75rem;
  width: 12.5rem;
  background: #8e8e8e;
}
@media (max-width: 590px) {
  .favorites__img-box {
    top: 4.375rem;
    left: 0.9375rem;
  }
}
.favorites__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.winter {
  display: block;
}

.spring {
  display: none;
}

.summer {
  display: none;
}

.autumn {
  display: none;
}

.coffeShop {
  padding: 0.825rem 1.25rem 0;
}
@media (max-width: 768px) {
  .coffeShop {
    padding: 0.875rem 1.125rem 0;
  }
}
.coffeShop__title {
  padding-bottom: 3.75rem;
}
.coffeShop__text {
  color: #000000;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .coffeShop__text {
    letter-spacing: 0.11875rem;
  }
}
.coffeShop__subtitle {
  color: #bb945f;
  font-family: "Forum", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
@media (max-width: 500px) {
  .coffeShop__subtitle {
    font-size: 1.875rem;
  }
}
.coffeShop__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 1040px) {
  .coffeShop__menu {
    flex-wrap: wrap;
    gap: 0rem;
  }
}
.coffeShop__coffee {
  flex: 0 1 27.5rem;
}
.coffeShop__coffee-item,
.coffeShop__desserts-item {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
@media (max-width: 500px) {
  .coffeShop__coffee-item,
  .coffeShop__desserts-item {
    flex-direction: column;
    gap: 0.625rem;
  }
}
.coffeShop__desserts-item {
  justify-content: flex-end;
  letter-spacing: 0.15rem;
}
.coffeShop__name {
  display: inline-block;
}
.coffeShop__price {
  display: inline-block;
  padding-left: 13.75rem;
  position: relative;
  font-family: "Forum", cursive;
}
.coffeShop__price:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6.25rem;
  background: #bb945f;
  width: 6.25rem;
  height: 0.0625rem;
  transform: translate(-50%);
}
@media (max-width: 500px) {
  .coffeShop__price:before {
    left: 50%;
    top: 0rem;
    transform: translate(-50%, 50%);
  }
}
.coffeShop__price:after {
  content: "$";
  position: absolute;
  top: 50%;
  left: 12.9375rem;
  transform: translateY(-50%);
}
@media (max-width: 1040px) {
  .coffeShop__price:after {
    left: 13.5rem;
  }
}
@media (max-width: 500px) {
  .coffeShop__price:after {
    left: -0.9375rem;
  }
}
@media (max-width: 1040px) {
  .coffeShop__price {
    padding-left: 14.375rem;
  }
}
@media (max-width: 500px) {
  .coffeShop__price {
    padding-left: 0rem;
  }
}
.coffeShop__desserts {
  flex: 0 1 29.75rem;
  text-align: right;
}
@media (max-width: 1040px) {
  .coffeShop__desserts {
    margin-left: auto;
    flex: 0 1 31.25rem;
  }
}

.contacts {
  padding: 1.25rem 1.25rem 2.5rem;
}
@media (max-width: 768px) {
  .contacts {
    padding: 1.4375rem 1.25rem 2.5rem;
  }
}
.contacts__title {
  margin-bottom: 2.5rem;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
@media (max-width: 1040px) {
  .contacts__inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.25rem;
  }
}
@media (max-width: 768px) {
  .contacts__inner {
    justify-content: space-between;
  }
}
.contacts__contact {
  flex: 0 1 37.6875rem;
}
@media (max-width: 768px) {
  .contacts__contact {
    flex: 1 1 18.75rem;
  }
}
.contacts__subtitle {
  color: #0c0c0e;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1.25rem;
  margin: 2.5rem 0;
}
.contacts__item {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.contacts__mail {
  font-weight: 700;
}
.contacts__phone,
.contacts__mail {
  transition: all 0.3s ease;
}
.contacts__phone:hover,
.contacts__mail:hover {
  color: #bb945f;
}
.contacts__map {
  flex: 0 1 43.5rem;
  height: 25.875rem;
  background: #8e8e8e;
}
@media (max-width: 1040px) {
  .contacts__map {
    margin: 0 auto;
  }
}
.contacts__map-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.libraryCard {
  padding: 1.25rem 1.25rem 2.6rem;
}
.libraryCard__title {
  padding-bottom: 3.75rem;
}
.libraryCard__inner {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 1.1875rem;
}
@media (max-width: 1040px) {
  .libraryCard__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.libraryCard__find {
  flex: 0 1 37.5rem;
}
@media (max-width: 500px) {
  .libraryCard__find {
    flex: 1 1 18.125rem;
  }
}
.libraryCard__find-title {
  color: #000000;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.0375rem;
  padding-bottom: 1.875rem;
  text-align: center;
}
.libraryCard__form {
  text-align: center;
  padding: 1rem 1rem 1.875rem;
  border: 3px solid #bb945f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .libraryCard__form {
    padding: 1.25rem 1.25rem 1.5625rem;
  }
}
@media (max-width: 450px) {
  .libraryCard__form {
    width: 18.125rem;
    margin: 0 auto;
  }
}
.libraryCard__label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.25rem;
  padding: 1.25rem 1.25rem 1.5625rem;
  color: #000000;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
  background: #bb945f;
  margin-bottom: 1.2rem;
}
@media (max-width: 500px) {
  .libraryCard__label {
    font-size: 1.5625rem;
  }
}
.libraryCard__name,
.libraryCard__number {
  padding: 0.5rem 1.25rem;
  line-height: 3.125rem;
  border-radius: 0.625rem;
  font-size: 1.875rem;
  border: 0.1px solid #bb945f;
}
@media (max-width: 500px) {
  .libraryCard__name,
  .libraryCard__number {
    font-size: 1.5625rem;
  }
}
.libraryCard__name::placeholder,
.libraryCard__number::placeholder {
  color: #8e8e8e;
  font-size: 1.875rem;
  font-family: "Forum", cursive;
  font-weight: 400;
  letter-spacing: 0.0375rem;
}
@media (max-width: 500px) {
  .libraryCard__name::placeholder,
  .libraryCard__number::placeholder {
    font-size: 1.5625rem;
  }
}
.libraryCard__button {
  font-size: 1.25rem;
  padding: 0.625rem 2.5rem;
}
@media (max-width: 768px) {
  .libraryCard__button {
    letter-spacing: 0.04375rem;
  }
}
@media (max-width: 450px) {
  .libraryCard__button {
    font-size: 1.125rem;
  }
}
.libraryCard__get {
  flex: 0 1 28.5rem;
  text-align: right;
}
@media (max-width: 1040px) {
  .libraryCard__get {
    text-align: center;
    flex: 0 1 33.75rem;
  }
}
.libraryCard__get-title {
  color: #000000;
  font-family: "Forum", cursive;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.0375rem;
  padding-bottom: 2.1875rem;
}
@media (max-width: 1040px) {
  .libraryCard__get-title {
    padding-bottom: 2.5rem;
  }
}
.libraryCard__text {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.025rem;
  padding-bottom: 2.1875rem;
}
@media (max-width: 1040px) {
  .libraryCard__text {
    padding-bottom: 2.5rem;
  }
}
.libraryCard__buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 1040px) {
  .libraryCard__buttons {
    justify-content: center;
  }
}
.libraryCard__btn-log,
.libraryCard__btn-sing {
  padding: 0.5rem 0.96875rem;
}

.footer {
  background: #0c0c0e;
  padding: 1.25rem 1.25rem 2.75rem;
  color: #ffffff;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: top;
  border-bottom: 0.0625rem solid #ffffff;
  padding-bottom: 1.875rem;
}
@media (max-width: 440px) {
  .footer__contacts {
    flex-direction: column;
    gap: 1.5625rem;
  }
}
.footer__address {
  flex: 0 0 14.3125rem;
}
@media (max-width: 440px) {
  .footer__address {
    flex: 1 1 6.25rem;
  }
}
.footer__address-text {
  padding-bottom: 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer__address-text:hover {
  color: #bb945f;
}
.footer__social {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.9375rem;
}
.footer__icon {
  fill: #fff;
  width: 1.5rem;
  height: 1.5rem;
  transition: fill 0.3s ease-in-out;
}
.footer__icon:hover {
  fill: #bb945f;
}
.footer__working-hours {
  flex: 0 0 10rem;
  text-align: right;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media (max-width: 440px) {
  .footer__working-hours {
    flex: 1 1 6.25rem;
    text-align: left;
  }
}
.footer__work-days {
  padding-bottom: 0.625rem;
}
.footer__work-days span {
  display: block;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  gap: 1.25rem;
}
@media (max-width: 687px) {
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5625rem;
  }
}
.footer__link {
  transition: all 0.3s ease;
  padding-left: 7.9375rem;
}
@media (max-width: 1040px) {
  .footer__link {
    padding-left: 4.375rem;
  }
}
@media (max-width: 687px) {
  .footer__link {
    padding-left: 0;
    line-height: 1.875rem;
  }
}
.footer__link:hover {
  color: #bb945f;
}
.footer__git {
  transition: all 0.3s ease;
}
.footer__git:hover {
  color: #bb945f;
}
.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(12, 12, 14, 0.5);
  backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: -4;
  /*  &__close {
    position: absolute;
    top: rem(15);
    right: rem(13);
    padding: rem(7) rem(0);
    background: transparent;
    border: none;
    cursor: pointer;
  } */
}
.login__modal {
  position: relative;
  width: 15.625rem;
  height: 16.375rem;
  padding: 1.25rem 1.5625rem;
  background: #ffffff;
}
.login__title {
  color: #000000;
  text-align: center;
  font-family: "Forum", cursive;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
.login__span {
  display: block;
  background: #0c0c0e;
  width: 1.25rem;
  height: 0.1875rem;
  transform: rotate(45deg);
}
.login__span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #0c0c0e;
  width: 1.25rem;
  height: 0.1875rem;
  transform: rotate(-90deg);
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: start;
}
.login__label {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01875rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.login__email,
.login__password {
  border: 1px solid #bb945f;
  height: 1.25rem;
  width: 12.5rem;
}
.login__password {
  margin-bottom: 0.625rem;
}
.login__button {
  display: inline-block;
  padding: 0.5rem 1.1875rem;
  color: #0c0c0e;
  font-family: "Inter", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  background: #ffffff;
  border-radius: 0.125rem;
  border: 1px solid #0c0c0e;
  margin-bottom: 0.625rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login__button:hover {
  background: #bb945f;
  border: 1px solid #bb945f;
}
.login__reference {
  display: flex;
  gap: 0.6875rem;
}
.login__text {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
}
.login__link {
  color: #0c0c0e;
  font-family: "Inter", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-decoration-line: underline;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login__link:hover {
  color: #bb945f;
}
.active {
  visibility: visible;
  opacity: 1;
  z-index: 4;
}

.close {
  position: absolute;
  top: 1.5rem;
  right: 1.4375rem;
  padding: 0.4375rem 0rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.scroll-lock {
  overflow: hidden;
}
